:root{
    background: #1e1c1c;
    color: white;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid red;
}

.header {
    position: absolute;
    top: 10px;
    right: 20px;
}

.title {
    margin-top: 60px;
    font-size: 24px;
}

.offers-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.title-text{
    text-align: center;
    font-size: 60px;
}

.searchBar{
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    width: 30%;
    background-color: #e7e2e2;
    border-radius: 5px;
}

.searchBar input{
    width: calc(100% - 90px);
    height: 85%;
    background-color: #e7e2e2;
    color: black;
    border-radius: 5px;
}

.searchBar button{
    border: 2px solid #aca7a7;
    color: white;
    background-color: #332f2f;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

.searchBar button:hover{
    background: #aca7a7;
}

.offers-list{
    border: 1px solid blue;
    width: 70%;
    display: flex;
    align-items: normal;
}

.offers-list li{
    border: 1px solid green;
    list-style-type: none;
    display: inline-block;
}

.offers-list li p{
    padding-left: 25px;
}
