#branchLink{
    text-decoration: none;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}

nav ul{
    border: 1px solid rebeccapurple;
    width: 25%;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

h1{
    text-align: center;
}

h2{
    background-color: #332f2f;
}

.bordered{
    /* border-top: 1px solid #aca7a7; */
    border-bottom: 1px solid #aca7a7;
}

.url{
    text-decoration: underline;
}